In [109]:
import pandas as pd
import numpy as np
import joblib
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [110]:
df=pd.read_csv("car data.csv")

In [111]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [112]:
df.shape

(301, 9)

In [113]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [114]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [116]:
df["Age"]=2020-df["Year"]

In [117]:
df.drop(columns=["Car_Name","Year"],inplace=True)

In [118]:
df

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,6
...,...,...,...,...,...,...,...,...
296,9.50,11.60,33988,Diesel,Dealer,Manual,0,4
297,4.00,5.90,60000,Petrol,Dealer,Manual,0,5
298,3.35,11.00,87934,Petrol,Dealer,Manual,0,11
299,11.50,12.50,9000,Diesel,Dealer,Manual,0,3
300,5.30,5.90,5464,Petrol,Dealer,Manual,0,4

In [119]:
df.Owner.value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

In [120]:
df=pd.get_dummies(df,drop_first=True)

In [121]:
x=df.iloc[:,1:]

In [122]:
y=df.iloc[:,:1]

In [123]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [124]:
reg = GradientBoostingRegressor(random_state=0)

In [125]:
reg.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=0, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [126]:
predict_y=reg.predict(x_test)

In [127]:
predict_y

array([ 7.24742639,  0.4842346 ,  4.56610485,  8.64564984, 14.63528154,
        4.81722295,  3.18721499,  0.48893713,  3.92469035,  4.55530323,
        2.87286028,  0.78314061,  4.80635291,  7.22663926,  7.60670091,
       13.61446984,  7.11194925,  4.02103924,  0.70048276,  1.6352296 ,
        3.14150874,  4.57184943,  5.07477728, 10.35936662,  0.15565248,
        0.67514083,  0.28312333,  0.59607795,  0.58983492,  5.91786037,
        2.97672343,  6.34772606,  0.56740552,  8.28942226,  3.17266697,
        1.21771217,  5.95293699,  5.90905517,  0.21673762, 10.01110424,
        8.38953651, 19.75516881,  4.59249851,  4.4028534 ,  5.84099383,
       11.57500572,  0.46303019,  0.645663  ,  4.98100471,  7.81594969,
        6.39796029,  3.35263762,  5.01236833, 20.9060884 ,  1.17348267,
        1.13037033,  0.7085871 ,  2.47036199,  3.60982767,  2.82328538,
        3.66223792,  6.85127857,  2.66966497, 22.73624132,  4.13767317,
        5.68940648, 10.63832865,  5.99711191,  0.5636488 ,  3.09731956,
        2.60084468,  3.14296566,  0.55052325,  5.4231727 ,  0.12983407,
        5.39281407,  0.47417897, 10.05020563,  0.63964184,  2.52203185,
        0.46087701, 13.74054628,  5.49911616,  5.20187686,  5.99357952,
        1.08768907,  5.73510165,  5.993815  ,  0.52886235,  4.81722295,
        0.45709545])

In [128]:
print('MAE:', metrics.mean_absolute_error(y_test, predict_y))
print('MSE:', metrics.mean_squared_error(y_test, predict_y))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predict_y)))

MAE: 0.75884685009771
MSE: 2.389130311133608
RMSE: 1.5456811803000021

In [129]:
joblib.dump(reg,"save_model")

['save_model']